<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" internalLogLevel="Error" throwExceptions="true" internalLogFile="c:\temp\${processname:fullName=false}.log">
    <variable name="logDirectory" value="${basedir}/Logs/${machinename}-${shortdate}-${processname:fullName=false}.log" />
    <targets async="true">
      <target xsi:type="console" name="console" layout="${callsite:className=false:includeNamespace=false:fileName=false:includeSourcePath=false:methodName=true:cleanNamesOfAnonymousDelegates=true} ${message} ${exception:format=tostring}" />
      <target name="asyncFileWrapper" xsi:type="AsyncWrapper">
        <target name="logfile" xsi:type="File" layout="${longdate} ${machinename} ${callsite} ${message} ${exception:format=tostring}" fileName="${var:logDirectory}" />
      </target>
    </targets>
    <rules>
      <logger name="*" minlevel="Error" writeTo="logfile" />
      <logger name="*" minlevel="Error" writeTo="console" />
    </rules>
   </nlog>
</configuration>