<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <appSettings>
    <add key="monitorDirectory" value="C:\tmp\builds\monitor" />
    <add key="tmpDirectory" value="C:\tmp\builds\tmp" />
    <add key="extractDirectory" value="C:\tmp\builds\extract" />
  </appSettings>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
      <target name="logfile" xsi:type="File"  layout="${longdate} ${callsite} ${message} ${exception:format=tostring}" fileName="${basedir}\DeploymentService.log" />
      <target xsi:type="Console"
         name="Console"
         layout="${longdate} ${callsite} ${message} ${exception:format=tostring}" />
    </targets>

    <rules>
      <logger name="*" minlevel="Info" writeTo="Console" /> 
    <!--<logger name="*" minlevel="Info" writeTo="logfile" />-->
    </rules>
  </nlog>
</configuration>