<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Codenesium.IISIntegration" version="1.2.0-Beta" targetFramework="net461" />
  <package id="EntityFramework" version="6.0.0" targetFramework="net461" />
  <package id="FluentAssertions" version="4.16.0" targetFramework="net461" />
  <package id="IIS.Microsoft.Web.Administration" version="8.5.9600.17042" targetFramework="net461" />
  <package id="NLog" version="3.2.0.0" targetFramework="net461" />
  <package id="RestSharp" version="105.2.2" targetFramework="net461" />
  <package id="System.Data.SQLite" version="1.0.103" targetFramework="net461" />
  <package id="System.Data.SQLite.Core" version="1.0.103" targetFramework="net461" />
  <package id="System.Data.SQLite.EF6" version="1.0.103" targetFramework="net461" />
  <package id="System.Data.SQLite.Linq" version="1.0.103" targetFramework="net461" />
  <package id="Twilio" version="4.7.2" targetFramework="net461" />
</packages>