<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
   </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  
  

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         internalLogLevel="Error" 
         internalLogFile="c:\temp\nlog-internal-${processname:fullName=false}.log">

    <variable name="localAppDataDirectoryLogLocation" value="${specialfolder:folder=LocalApplicationData}/Codenesium/Logs/${machinename}-${processname:fullName=false}.log" />    
   
     <targets>
      <target xsi:type="console" name="console" layout="${callsite:className=false:includeNamespace=false:fileName=false:includeSourcePath=false:methodName=true:cleanNamesOfAnonymousDelegates=true} ${message} ${exception:format=tostring}" />
      <target name="logfile" xsi:type="File"  layout="${longdate} ${machinename} ${callsite} ${message} ${exception:format=tostring}" fileName="${var:localAppDataDirectoryLogLocation}"  />
      <target type='webService'
                name='ws'
                url='http://104.167.3.61/ErrorService/Create'
                protocol='HttpPost'
                encoding='UTF-8'   >
            <parameter name='machinename' type='System.String' layout='${machinename}'/>
            <parameter name='longdate' type='System.String' layout='${longdate}'/> 
            <parameter name='message' type='System.String' layout='${message}'/>
            <parameter name='exception' type='System.String' layout='${exception:format=tostring}'/>
            <parameter name='callsite' type='System.String' layout='${callsite}'/>
        </target>
    </targets>
    <rules>
      <logger name="*" minlevel="Error" writeTo="logfile" />
      <logger name="*" minlevel="Error" writeTo="console" />
      <logger name="*" minlevel="Error" writeTo="webService" />
    </rules>
  </nlog>
</configuration>